@using PHDS.Identity.BLL
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@model PHDS.Identity.DAL.ApplicationUser
@{
    ViewBag.Title = "Edit User";
    var UserManager = HttpContext.Current.GetOwinContext().Get<ApplicationUserManager>();
    var RoleManager = HttpContext.Current.GetOwinContext().Get<ApplicationRoleManager>();
    var nonMembers = RoleManager.Roles.Select(x=>x.Id).Except(Model.Roles.Select(x=>x.RoleId));
    var nonMembers2 = RoleManager.Roles.Where(x => nonMembers.Contains(x.Id));
}
@Html.ValidationSummary()
@using (Html.BeginForm())
{
    <input type="hidden" name="userId" value="@Model.Id" />
    <div class="panel panel-primary">
        <div class="panel-heading">为 @(Model.UserName)(@Model.Email) 授权新角色</div>
        <table class="table table-striped">
            @if (nonMembers.Count() == 0)
            {
                <tr><td colspan="2">该账户具有所有角色的授权</td></tr>
            }
            else
            {
                <tr><td>角色</td><td>是否授权</td></tr>
                foreach (var user in nonMembers2)
                {
                    <tr>
                        <td>@user.Name</td>
                        <td>
                            <input type="checkbox" name="IdsToAdd" value="@user.Id">
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">为 @(Model.UserName)(@Model.Email) 移除现有角色</div>
        <table class="table table-striped">
            @if (Model.Roles.Count() == 0)
            {
                <tr><td colspan="2">该账户尚没有角色授权</td></tr>
            }
            else
            {
                <tr><td>角色</td><td>是否移除</td></tr>
                foreach (var user in Model.Roles)
                {
                    <tr>
                        <td>@RoleManager.FindById(user.RoleId).Name</td>
                        <td>
                            <input type="checkbox" name="IdsToDelete" value="@user.RoleId">
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Cancel", "Users", null, new { @class = "btn btn-default" })
}