@using PHDS.Identity.BLL
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@model IEnumerable<PHDS.Identity.DAL.ApplicationRole>
@{
    ViewBag.Title = "Roles";
}
@functions{
    string GetUserNameById(string Id)
    {
        return HttpContext.Current.GetOwinContext().Get<ApplicationUserManager>().FindById(Id).UserName;
    }
}
<div style="margin: 10px auto;"></div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">@ViewBag.Title</a>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div class="panel panel-primary">
    <div class="panel-heading">Role based</div>
    <table class="table table-striped">
        <tr><th>ID</th><th>角色</th><th>下属账户</th><th></th></tr>
        @if (Model.Count() == 0)
        {
            <tr><td colspan="4" class="text-center">No Roles</td></tr>
        }
        else
        {
            foreach (var role in Model)
            {
                <tr>
                    <td class="col-xs-4">@role.Id</td>
                    <td class="col-xs-2">@role.Name</td>
                    <td class="col-xs-4">
                        @if (role.Users == null || role.Users.Count == 0)
                        {
                            @: No Roles
                        }
                        else
                        {
                            <p>
                                @string.Join(", ", role.Users.Select(x => GetUserNameById(x.UserId)))
                            </p>
                        }
                    </td>
                    <td class="col-xs-2">
                        @using (Html.BeginForm("DeleteRole", "RolesManage", new { id = role.Id }))
                        {
                            @Html.ActionLink("Edit", "EditRole", new { id = role.Id }, new { @class = "btn btn-primary btn-xs" })
                            <button class="btn btn-danger btn-xs" type="submit" onclick="return confirm('确定是否删除此笔记录?');">Delete</button>
                        }
                    </td>
                </tr>
            }
        }
    </table>
</div>
@Html.ActionLink("Create", "CreateRole", null, new { @class = "btn btn-primary" })



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
