@model IEnumerable<PHDS.Web.Models.SalesModels.Customer>
    @{
    var ranks = from p in Model
    group p by p.Rank into g
    select g.Key;
    }

    @{
    ViewBag.Title = "应收应付 - 账务系统";
    }

    @section styles{
    @Styles.Render("~/Content/DataTables/css/datatables")
    <style>
        body {
            overflow-y: scroll;
        }

        .table#details {
            font-size: 12px;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }

        tr.active > td {
            background-color: #0075b0 !important;
            color: #fff;
        }
    </style>
    }

    <div style="margin: 10px auto;"></div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">@ViewBag.Title</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @*<div class="navbar-form navbar-right">

                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">高 <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            @foreach (var item in Model)
                            {
                                if (100 >= item.Rank && item.Rank >= 90)
                                {
                                    <li id="@item.Id"><a href="javascript:;">@item.Name</a></li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">中 <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            @foreach (var item in Model)
                            {
                                if (90 > item.Rank && item.Rank >= 60)
                                {
                                    <li id="@item.Id"><a href="javascript:;">@item.Name</a></li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">低 <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            @foreach (var item in Model)
                            {
                                if (60 > item.Rank && item.Rank >= 30)
                                {
                                    <li id="@item.Id"><a href="javascript:;">@item.Name</a></li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">其他 <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            @foreach (var item in Model)
                            {
                                if (30 > item.Rank && item.Rank >= 0)
                                {
                                    <li id="@item.Id"><a href="javascript:;">@item.Name</a></li>
                                }
                            }
                        </ul>
                    </div>
                    
                </div>*@
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">高<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @foreach (var menu in Model)
                            {
                            if (100 >= menu.Rank && menu.Rank >= 90)
                            {
                            <li id="@menu.Id"><a href="#">@menu.Name</a></li>
                            }
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">中<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @foreach (var menu in Model)
                            {
                            if (90 > menu.Rank && menu.Rank >= 60)
                            {
                            <li id="@menu.Id"><a href="#">@menu.Name</a></li>
                            }
                            }
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">低<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @foreach (var menu in Model)
                            {
                            if (60 > menu.Rank && menu.Rank >= 30)
                            {
                            <li id="@menu.Id"><a href="#">@menu.Name</a></li>
                            }
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">其他<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @foreach (var menu in Model)
                            {
                            if (30 > menu.Rank && menu.Rank >= 0)
                            {
                            <li id="@menu.Id"><a href="#">@menu.Name</a></li>
                            }
                            }
                        </ul>
                    </li>
                </ul>
                <p class="navbar-text navbar-right">优先级分类：　</p>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="row">
        @*<div class="col-xs-2">
            <div class="list-group">

                @foreach (var item in Model)
                {
                <a href="#" class="list-group-item">
                    <h6 class="list-group-item-heading" id="@item.Id">@item.Name</h6>
                </a>
                }
            </div>

        </div>*@

        <div class="col-xs-12">
            <table id="details" class="table table-hover table-bordered table-striped">
                <thead></thead>
                <tbody></tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
    @section scripts {

    @Scripts.Render("~/Scripts/DataTables/datatables")

    <script>

        $.extend(true, $.fn.DataTable.defaults, CONSTANT.DATA_TABLES.DEFAULT_OPTION);

        detailTable = $('#details').DataTable({
            ajax: {
                url: "@Url.Action("YingshouYingfuDetail")",
                dataSrc: "明细"
            },
            pageLength: -1,
            //scrollY:'600',
            dom: "fr<'#detailPanel.panel panel-primary'<'panel-heading'<'panel-title'>>t<'panel-footer'>><'row'<'col-xs-5'i><'col-xs-7'p>>",
            columns: [
                { data: "业务类型", title: "业务类型", width: "6em", visible: false },
                { data: "业务描述", title: "业务描述", width: "6em", visible: false },
                { data: "借贷方向", title: "借贷方向", width: "6em", visible: false },
                { data: "日期", title: "日期", width: "6em", visible: true },
                { data: "单号", title: "单号", width: "8em", visible: false },
                { data: "产品编号", title: "产品编号", width: "8em", visible: false },
                { data: "产品描述", title: "产品描述", width: "auto", visible: true },
                { data: "规格", title: "规格", width: "8em", visible: true },
                { data: "片数", title: "片数", width: "5em", },
                { data: "单位数量", title: "单位数量", width: "5em", },
                { data: "计价单位", title: "计价单位", width: "5em", },
                { data: "单价", title: "单价", width: "5em", },
                {
                    data: "应收", title: "应收", width: "6em", visible: true, render: function (data, type, row, meta) {
                        var renderData = data || 0;
                        if (renderData > 0)
                            renderData = '<div class="text-primary" style="font-weight:bold">' + renderData + '</div>'
                        else if (renderData < 0)
                            renderData = '<div class="text-danger" style="font-weight:bold">' + renderData + '</div>'
                        else
                            renderData = '<div class="" style="font-weight:">' + renderData + '</div>'
                        return renderData;
                    }
                },
                {
                    data: "应付", title: "应付", width: "6em", visible: true, render: function (data, type, row, meta) {
                        var renderData = data || 0;
                        if (renderData < 0)
                            renderData = '<div class="text-primary" style="font-weight:bold">' + renderData + '</div>'
                        else if (renderData > 0)
                            renderData = '<div class="text-danger" style="font-weight:bold">' + renderData + '</div>'
                        else
                            renderData = '<div class="" style="font-weight:">' + renderData + '</div>'
                        return renderData;
                    }
                },
            ],
            drawCallback: function (settings) {
                var api = this.api();
                var rows = api.rows({
                    page: 'current'
                }).nodes();
                var last = null;
                api.column(4, {
                    page: 'current'
                }).data().each(function (value, index) {
                    if (last !== value) {
                        if ($.inArray(api.row(index).data().单号, ['ShouRu', "ZhiChu", "Settlement"]) == -1)
                            $(rows).eq(index).before('<tr class="group"><td colspan="20" style="font-weight:bold">' + api.row(index).data().日期 + ' - ' + api.row(index).data().单号 + ' - ' + api.row(index).data().业务描述 + '</td></tr>');
                        else
                            $(rows).eq(index).before('<tr class="group"><td colspan="20" class="text-danger" style="font-weight:bold">' + api.row(index).data().单号 + ' - ' + api.row(index).data().业务描述 + '</td></tr>');
                        last = value;
                    }
                });
                if (api.ajax.json()) {
                    var footer = '<div class="row" style="font-size:12px"><div class="col-xs-12 text-right">' + '应收合计：' + api.ajax.json().应收合计 + '，' + '应付合计：' + api.ajax.json().应付合计 + '</div></div>'
                    $('.panel-footer').html(footer);
                    //$(api.column(-1).footer()).html("fdasfdsafdasfda")
                }

            },
        })


        $('.nav.navbar-nav.navbar-right .dropdown-menu').on('click', 'li', function () {
            $('#detailPanel').find('.panel-title').text(this.id + ' - ' + this.innerText);
            detailTable.settings()[0].ajax.data = { Id: this.id }
            detailTable.ajax.reload()
        })

        $('#detailPanel').css('margin-bottom', '10px').find('.panel-title').text('选择单位')
    </script>
    }
