@model List<PHDS.Web.Models.StockoutModels.StockoutOrder>
@{ 
    var orderId = string.Empty;
    var rcId = string.Empty;
    var rtId = string.Empty;
    using (var database = new PHDS.Entities.Edmx.PinhuaEntities())
    {
        var year = DateTime.UtcNow.ToString("yy");
        var today = DateTime.UtcNow.ToString("yyyyMMdd");

        var exsistedIds = (from p in database.发货
                           where p.送货单号.Substring(0, 5) == "OUT" + year
                           orderby p.送货单号 descending
                           select p.送货单号)
                         .ToList();
                         //.Where(x => x.Substring(3, 4) == DateTime.Now.ToString("yyyy"));
        var orderIndex = int.Parse(exsistedIds.Count() == 0 ? "0" : exsistedIds.First().Substring(7)) + 1;
        orderId = "OUT"+ year + orderIndex.ToString("D5");

        var exsistedRcids = (from p in database.ES_RepCase
                             where p.rcId.Substring(0, 10) == "rc" + today
                             orderby p.rcId descending
                             select p.rcId)
                            .ToList();
        var rcidIndex = int.Parse(exsistedRcids.Count() == 0 ? "0" : exsistedRcids.First().Substring(12)) + 1;
        rcId = "rc" + DateTime.UtcNow.ToString("yyyyMMdd") + rcidIndex.ToString("D5");
    }
}

<section class="invoice" id="invoice">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-globe"></i> 胜美木业, Inc.
                <small class="pull-right">Date:  @DateTime.UtcNow.ToString("yyyy/M/d")</small>
            </h2>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    @using (Html.BeginForm("Create", "Stockout", FormMethod.Post, new { id = "出库单" }))
    {
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                <div class="form-group has-error">
                    <label class="control-label" for="inputSuccess"><i class="fa fa-angle-double-right"></i> 业务类型</label>
                    <div class="input-group">
                        @Html.Partial("_Partial_Select_业务类型")
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-danger btn-flat" style="width:40px"><i class="fa fa-bars"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group has-error">
                    <label class="control-label" for="inputSuccess"><i class="fa fa-angle-double-right"></i> 客户单位</label>
                    <div class="input-group">
                        @Html.Partial("_Partial_Select_客户单位")
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-danger btn-flat" style="width:40px"><i class="fa fa-truck"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group has-error">
                    <label class="control-label" for="inputSuccess"><i class="fa fa-angle-double-right"></i> 出库日期</label>
                    <div class="input-group">
                        <input type="text" class="form-control pull-right" id="datepicker" data-provide="datepicker" data-date-format="yyyy-mm-dd" value="@DateTime.UtcNow.ToString("yyyy-MM-dd")"  name="出库日期" readonly>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-danger btn-flat" style="width:40px"><i class="fa fa-calendar-o"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group has-error">
                    <label class="control-label" for="inputSuccess"><i class="fa fa-angle-double-right"></i> 地址</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputSuccess" placeholder="Enter ..." name="地址">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-danger btn-flat" style="width:40px"><i class="fa fa-map-o"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <div class="form-group has-warning">
                    <label class="control-label" for="inputSuccess"><i class="fa fa-angle-double-right"></i> 联系人</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputSuccess" placeholder="Enter ..." name="联系人">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-warning btn-flat" style="width:40px"><i class="fa fa-user"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group has-warning">
                    <label class="control-label" for="inputSuccess"><i class="fa fa-angle-double-right"></i> 联系电话</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputSuccess" placeholder="Enter ..." name="联系电话">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-warning btn-flat" style="width:40px"><i class="fa fa-phone"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group has-warning">
                    <label class="control-label" for="inputWarning">
                        <i class="fa fa-bell-o"></i> 备注
                    </label>
                    <div class="input-group">
                        <textarea class="form-control" rows="3" id="inputWarning" placeholder="Enter ..." name="备注"></textarea>
                        <span class="input-group-addon"><i class="fa fa-commenting"></i></span>
                    </div>
                    <span class="help-block">在此输入你的备注信息</span>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <b>单号:</b> @orderId<input type="hidden" value="@orderId" name="orderId"/><br>
                <b>系统关联编号:</b> @rcId<input type="hidden" value="@rcId" name="rcId" /><br>
            </div>
            <!-- /.col -->
        </div>
    <!-- /.row -->
    <!-- Table row -->
        <div style="margin: 10px auto;"></div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <div class="box-title">出库清单</div>
                        <div class="box-tools">
                            <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#itemsModal" data-backdrop="false">
                                <i class="fa fa-plus"></i>　添加物品
                            </a>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" id="formTable" v-show="visible" style="min-width:800px">
                                <thead>
                                    <tr>
                                        <th style="min-width:80px;">编号</th>
                                        <th style="min-width:80px;">描述</th>
                                        <th style="min-width:80px;">规格</th>
                                        <th style="min-width:80px;">片数</th>
                                        <th style="min-width:80px;">单位数量</th>
                                        <th style="min-width:80px;">计价单位</th>
                                        <th style="min-width:80px;">单价</th>
                                        <th style="min-width:80px;">金额</th>
                                        <th style="max-width:50px;" class="text-right"><small class="label label-danger">Actions</small></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="todo in todos">
                                        <td>{{ todo.编号 }}<input type="hidden" v-bind:value="todo.编号" name="Items[{{$index}}].编号" /></td>
                                        <td>{{ todo.描述 }}<input type="hidden" v-bind:value="todo.描述" name="Items[{{$index}}].描述"/></td>
                                        <td>{{ todo.规格 }}<input type="hidden" v-bind:value="todo.规格" name="Items[{{$index}}].规格"/></td>
                                        <td><input v-model.number="todo.pcs" type="number" /></td>
                                        <td>
                                            {{computeQuantity(todo)}}<input type="hidden" v-bind:value="computeQuantity(todo)" />
                                        </td>
                                        <td>
                                            <select v-model="todo.unit">
                                                <option>PCS</option>
                                                <option>平方米</option>
                                                <option>延长米</option>
                                                <option>套</option>
                                            </select>
                                        </td>
                                        <td><input v-model.number="todo.price" type="number" /></td>
                                        <td>
                                            {{parseFloat((todo.price||0) * computeQuantity(todo)).toFixed(2)}}
                                            <input type="hidden" v-bind:value="parseFloat((todo.price||0) * computeQuantity(todo)).toFixed(2)" />
                                        </td>
                                        <td class="text-right">
                                            <button class="btn btn-xs btn-danger" v-on:click="removeTodo($index)"><i class="fa fa-close"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
    <!-- /.row -->
        <a class="btn btn-app" href="javascript:$('#出库单').submit();"><i class="fa fa-check"></i>提交</a>
    }
</section>

@Html.Partial("_Partial_Modal_物料清单")

@section styles
{
    @Styles.Render("~/Content/DataTables/css/datatables")
    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/datepicker/datepicker3.css">

    <style>
        body {
            overflow-y: scroll;
        }

        #invoice {
            margin: 0px 0px;
        }
    </style>

}

@section scripts{
    @Scripts.Render("~/Scripts/DataTables/datatables")
    <script src="~/Content/AdminLTE/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/AdminLTE/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>
    <script>
        $.fn.datepicker.defaults.language = 'zh-CN';
        $.fn.datepicker.defaults.todayHighlight = true;
        $.fn.datepicker.defaults.autoclose = true;
    </script>

    <script>
        var vm = new Vue({
            el: '#formTable',
            data: {
                todos: [],
            },
            computed:{
                visible: function(){
                    return this.todos.length > 0
                }
            },
            methods: {
                addTodo: function () {
                    var text = this.newTodo.trim()
                    if (text) {
                        this.todos.push({ text: text})
                        this.newTodo = ''
                    }
                },
                removeTodo: function (index) {
                    this.todos.splice(index, 1)
                },
                // 计算单位数量
                computeQuantity: function (item)
                {
                    var result = 0
                    if(item.unit == 'PCS')
                        result = item.pcs
                    else if(item.unit == '平方米')
                        result = item.pcs*item.length*item.width/1000/1000
                    else if(item.unit == '延长米')
                        result = item.pcs*item.length/1000
                    result = result || ""
                    return new Number(result).toFixed(4)
                }
            }
        })
    </script>

    <script>
        @{
            var database = new PHDS.Entities.Edmx.PinhuaEntities();

            var items = from p in database.物料登记.ToList()
                        select new
                        {
                            p.编号,
                            p.类型,
                            p.描述,
                            p.规格,
                            p.木种,
                            p.工艺,
                            p.Length,
                            p.Width,
                            p.Height,
                        };
            var json = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(items));
        }

        $.extend(true, $.fn.DataTable.defaults ,CONSTANT.DATA_TABLES.DEFAULT_OPTION);


        var itemsTable = $('#itemList').DataTable({
            searching: true,
            dom:'rtip',
            //scrollY:'400',
            data: @json,
            columns:
            [
                { data: "编号", title:"编号", className: "hidden-xs",},
                { data: "类型", title:"类型", className: "hidden-xs",},
                { data: "描述", title:"描述", className: "",},
                { data: "规格", title:"规格", className: "",},
                { data: "木种", title:"木种", className: "",},
                { data: "工艺", title:"工艺", className: "hidden-xs",},
                { data: "Length", title:"Length", visible: false},
                { data: "Width", title:"Width", visible: false},
                { data: "Height", title:"Height", visible: false},
                { title:"", width:"2em", className:"", render:function (data, type, row, meta){return '<button class="btn btn-xs btn-danger"><i class="fa fa-plus"></i></button>'}},
            ]
        });

        function filterGlobal () {
            itemsTable.search(
                $('#items_search').val(),
                false,true
            ).draw();
        }
        // 获取Datatables 行号
        $('#itemList tbody').on('click', 'button', function () {
            $(this).closest('tr').one('click', function(){
                var index = $(this).context._DT_RowIndex;
                var bianhao = itemsTable.row($(this).context._DT_RowIndex).data().编号;
                var miaoshu = itemsTable.row($(this).context._DT_RowIndex).data().描述;
                var guige = itemsTable.row($(this).context._DT_RowIndex).data().规格;
                var length = itemsTable.row($(this).context._DT_RowIndex).data().Length;
                var width = itemsTable.row($(this).context._DT_RowIndex).data().Width;
                var height = itemsTable.row($(this).context._DT_RowIndex).data().Height;
                vm.todos.push({编号:bianhao,描述:miaoshu,规格:guige, length:length, width:width, height:height,unit:'平方米',pcs:'',price:'' });
            }).trigger('click');
        });
        $('input#items_search').on( 'keyup click', function () {
            filterGlobal();
        });

    </script>
}