@model IEnumerable<PHDS.Web.Models.StockoutModels.StockoutOrder>
@{
    var orders = Newtonsoft.Json.JsonConvert.SerializeObject(Model, new Newtonsoft.Json.Converters.IsoDateTimeConverter { DateTimeFormat = "yyyy/MM/dd" });
}

@{
    ViewBag.Title = "出库单";

    var w = new HtmlTextWriter(new StringWriter());
    w.RenderBeginTag(HtmlTextWriterTag.H1);
    w.Write("Fuck your family");
    w.RenderEndTag();


}

@section styles{
    @Styles.Render("~/Content/DataTables/css/datatables")
    <link rel="stylesheet" href="~/Content/DataTables/css/fixedColumns.bootstrap.min.css">
    <style>
        tr.active > td {
            background-color: #0075b0 !important;
            color: #fff !important;
        }

            tr.active > td > a {
                color: #fff;
            }

        #orders th, #orders td {
            white-space: nowrap;
        }

        #details th, #details td {
            white-space: nowrap;
        }

        .dataTables_wrapper {
            font-size: 12px;
        }
    </style>
}

<div class="row">
    <div class="col-xs-4 col-sm-3 col-md-3 col-lg-1">
        <a href="@Url.Action("Create")" class="btn btn-danger btn-block btn-flat" style="min-width:100px"><i class="fa fa-plus"></i>&nbsp;新增</a>
    </div>
    <div class="col-xs-8 col-sm-7 col-md-5 col-lg-3 pull-right">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" class="form-control" aria-label="..." id="filter">
        </div>
    </div>
</div>

<div style="margin: 10px auto;"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">单据</h3>
                <div class="box-tools pull-right">
                    <!-- Buttons, labels, and many other things can be placed here! -->
                    <!-- Here is a label for example -->
                    <span class="label label-danger"></span>
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <table id="orders" class="table table-bordered table-striped" style="min-width:800px;width:100%"></table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>
<div class="box box-warning">
    <div class="box-header with-border">
        <h3 class="box-title">单据明细</h3>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-striped table-hover" id="details" style="width:100%"></table>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/Scripts/DataTables/datatables")
    <script src="~/Scripts/DataTables/dataTables.fixedColumns.js"></script>

    <script>
        var json = @(new MvcHtmlString(orders));

        for(var item in json)
        {
            json[item].stockoutAmount = json[item].stockoutAmount.toFixed(2);
            json[item].stockoutSquare = json[item].stockoutSquare.toFixed(2);
        }

        $.extend(true, $.fn.DataTable.defaults ,CONSTANT.DATA_TABLES.DEFAULT_OPTION);

        thisTable = $('#orders').DataTable({
            searching:true,
            dom:'rtip',
            data: json,
            autoWidth: true,   //禁用自动调整列宽
            columns:
                [
                    { data: "itemsCount" , title: "项数", width:"2em", className:"text-center", render:function (data, type, row, meta){return "<b class='text-danger'>"+ data +"</b>"}},
                    { data: "customerName", title: "客户", width: "10em", },
                    { data: "orderId", title: "单据", width: "12em", render:function (data, type, row, meta){return data + " - "+ row.stockoutDate}},
                    { data: "customerAddress" , title: "地址",width: "20em", className:"hidden-xs2 hidden-sm2",},
                    { data: "stockoutComment", title: "备注", width: "12em", visible: true, },
                    { data: "stockoutTypeDescription", title: "业务类型", width: "9em", visible: true, render:function (data, type, row, meta){return data + " - " + row.stockoutType} },
                    { data: "stockoutSquare", title: "面积", width:"4em", className: "text-right" },
                    { data: "stockoutAmount", title: "合计金额", width: "6em", className: "text-right" },
                    { title: "操作", width: "5em", className: "text-center", render:function (data, type, row, meta){return '<a href="@Url.Action("Edit")/'+row.orderId+'">编辑</a> | <a href="@Url.Action("Delete")/'+row.orderId+'">删除</a>'}},
                ],
            scrollX:        true,
            scrollCollapse: true,
            fixedColumns:   {
                leftColumns: 0,
                rightColumns: 0
            }
        });

        detailTable = $('#details');
        $('#orders.table').on('click', 'tbody td',   function() {
            var btn = $(this);
            var tr = $(this).closest('tr');
            tr.addClass('active').siblings().removeClass('active');
            var row = thisTable.row( tr );

            //$.ajaxSettings.async = false;
            $.post("@Url.Action()",{RCID:row.data().rcId},function(result){
                detailTable.DataTable({
                    data:result,
                    destroy:true,
                    autoWidth: true,
                    paging: false,
                    dom:'t',
                    scrollX:        true,
                    scrollCollapse: true,
                    fixedColumns:   {
                        leftColumns: 3,
                        rightColumns: 0
                    },
                    columns:
                    [
                        { data: "RN", title: "RN", width:"1em", className:"text-center" },
                        { data: "Id" , title: "编号", width:"8em", className:"visible-md visible-lg", },
                        { data: "Description" , title: "描述", width:"12em", },
                        { data: "Size" , title: "规格", width:"10em", },
                        { data: "PCS", title: "片数", width:"8em", className:"text-right" },
                        { data: "Price" , title: "单价" , width:"8em", className:"text-right",},
                        { data: "ChargeUnit", title: "计价单位", width:"8em", className:"text-center" },
                        { data: "UnitQuantity" , title: "单位数量", width:"8em", className:"text-right", },
                        { data: "Amount" , title: "金额", width:"8em", className:"text-right text-primary", render:function(data, type, row, meta){return "<div style='font-weight:'>"+data+"</div>"}},
                    ]
                })
            })
            //$.ajaxSettings.async = true;

        });

        function filterGlobal () {
            thisTable.search(
                $('#filter').val(),
                false,true
            ).draw();
        }

        $(document).ready(function() {

            $('input#filter').on( 'keyup click', function () {
                filterGlobal();
            } );


        } );

    </script>
}
