@{
    Layout = "~/Views/Shared/AdminLTE/_Layout_AdminLTE_Base.cshtml";
}
@section styles{
    @RenderSection("styles", required: false)
}
@section scripts{
    @RenderSection("scripts", required: false)
}

<div class="content-wrapper" style="min-height:1280px">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @Html.ViewControllerName()
            <small>@Html.ViewActionName()</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> @Html.ViewControllerName()</a></li>
            <li class="active">@Html.ViewActionName()</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content" @*style="font-size:12px;"*@>
        <!-- Your Page Content Here -->
        @RenderBody()
    </section>
    <!-- /.content -->
</div>