@model IEnumerable<PHDS.Web.Models.SalesModels.Customer>
@{
    ViewBag.Title = SetTitle();
}
@functions{

    bool isReceivables()
    {
        var actionName = @ViewContext.RouteData.Values["action"].ToString().ToLower();
        return actionName == "receivables" || actionName == "both";
    }
    bool isPayables()
    {
        var actionName = @ViewContext.RouteData.Values["action"].ToString().ToLower();
        return actionName == "payables" || actionName == "both";
    }
    string SetTitle()
    {
        var actionName = @ViewContext.RouteData.Values["action"].ToString().ToLower();
        switch (actionName)
        {
            case "receivables":
                return "应收 - 账务系统";
            case "payables":
                return "应付 - 账务系统";
            case "both":
                return "应收应付 - 账务系统";
            default:
                return "拼花大师 - 账务系统";
        }
    }
    IHtmlString footerHTML()
    {
        var actionName = @ViewContext.RouteData.Values["action"].ToString().ToLower();
        switch (actionName)
        {
            case "receivables":
                return Html.Raw("'<b>应收合计：' + api.ajax.json().应收合计.toFixed(2)+'</b>'");
            case "payables":
                return Html.Raw("'<b>应付合计：' + api.ajax.json().应付合计.toFixed(2)+'</b>'");
            case "both":
                return Html.Raw("'<b>应收合计：' + api.ajax.json().应收合计.toFixed(2) + '，' + '应付合计：' + api.ajax.json().应付合计.toFixed(2)+'</b>'");
            default:
                return Html.Raw("'暂无数据'");
        }
    }
    string ajaxUrl()
    {
        var actionName = @ViewContext.RouteData.Values["action"].ToString().ToLower();
        //switch (actionName)
        //{
        //    case "receivables":
        //        return Url.Action("YingshouDetail");
        //    case "payables":
        //        return Url.Action("YingfuDetail");
        //    case "both":
        //        return Url.Action("YingshouYingfuDetail");
        //    default:
        //        return Url.Action("Index");
        //}
        return actionName;
    }
}

@section styles{
    @Styles.Render("~/Content/DataTables/css/datatables")
    <style>
        body {
            overflow-y: scroll;
        }

        .table#details {
            font-size: 12px;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }

        tr.active > td {
            background-color: #0075b0 !important;
            color: #fff;
        }
    </style>
}

<div style="margin: 10px auto;"></div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">@SetTitle()</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">选择查账公司 <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        @foreach (var menu in Model)
                        {
                            <li id="@menu.Id"><a href="javascript:;">@menu.Name</a></li>
                        }
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="row">
    @*<div class="col-xs-2">
            <div class="list-group">

                @foreach (var item in Model)
                {
                <a href="#" class="list-group-item">
                    <h6 class="list-group-item-heading" id="@item.Id">@item.Name</h6>
                </a>
                }
            </div>
        </div>*@

    <div class="col-xs-12">
        <table id="details" class="table table-hover table-bordered table-striped">
            <thead></thead>
            <tbody></tbody>
            <tfoot>
                <tr></tr>
            </tfoot>
        </table>
    </div>
</div>
@section scripts {

    @Scripts.Render("~/Scripts/DataTables/datatables")

    <script>

        $.extend(true, $.fn.DataTable.defaults, CONSTANT.DATA_TABLES.DEFAULT_OPTION);

        detailTable = $('#details').DataTable({
            ajax: {
                url: "@ajaxUrl()",
                type: "post",
                dataSrc: "明细",
            },
            pageLength: -1,
            //scrollY:'600',
            dom: "fr<'#detailPanel.panel panel-primary'<'panel-heading'<'row'<'col-xs-5'<'panel-title'>><'col-xs-7'>>>t<'panel-footer'>><'row'<'col-xs-5'i><'col-xs-7'p>>",
            columns: [
                { data: "业务类型", title: "业务类型", width: "6em", visible: false },
                { data: "业务描述", title: "业务描述", width: "6em", visible: false },
                { data: "日期", title: "日期", width: "6em", visible: true },
                { data: "单号", name:"单号", title: "单号", width: "8em", visible: false },
                { data: "产品编号", title: "产品编号", width: "8em", visible: false },
                { data: "产品描述", title: "产品描述", width: "20em", visible: true },
                { data: "规格", title: "规格", width: "6em", visible: true },
                { data: "片数", title: "片数", width: "4em", },
                { data: "单位数量", title: "数量", width: "4em", },
                { data: "计价单位", title: "单位", width: "4em", },
                { data: "单价", title: "单价", width: "4em", },
               // { data: "备注", title: "备注", width: "6em", visible: true },
@{if (isReceivables()) {
<text>
                {
                    data: "应收", name:"应收", title: "应收", width: "5em", visible: true, render: function (data, type, row, meta) {
                        var renderData = data || 0;
                        if (renderData > 0)
                            renderData = '<div class="text-primary" style="font-weight:bold">' + renderData + '</div>'
                        else if (renderData < 0)
                            renderData = '<div class="text-danger" style="font-weight:bold">' + renderData + '</div>'
                        else
                            renderData = '<div class="" style="font-weight:">' + renderData + '</div>'
                        return renderData;
                    }
                },
</text>}}

@{if (isPayables()) {
<text>
                {
                    data: "应付", title: "应付", width: "5em", visible: true, render: function (data, type, row, meta) {
                        var renderData = data || 0;
                        if (renderData < 0)
                            renderData = '<div class="text-primary" style="font-weight:bold">' + renderData + '</div>'
                        else if (renderData > 0)
                            renderData = '<div class="text-danger" style="font-weight:bold">' + renderData + '</div>'
                        else
                            renderData = '<div class="" style="font-weight:">' + renderData + '</div>'
                        return renderData;
                    }
                },
</text>}}
            ],
            drawCallback: function (settings) {
                var api = this.api();
                var rows = api.rows({
                    page: 'current'
                }).nodes();
                var last = null;
                api.column('单号:name', {
                    page: 'current'
                }).data().each(function (value, index) {
                    if (last !== value) {
                        var beizhu = api.row(index).data().备注 || "";
                        if (beizhu) {
                            beizhu = ' - 备注：' + beizhu;
                            beizhu = '<span class="text-success" style="font-weight:bold">' + beizhu + '</span>';
                        }
                        var yingshouheji = api.row(index).data().单据应收合计 || "";
                        if (yingshouheji) {
                            yingshouheji = ' - 应收合计：' + yingshouheji;
                            yingshouheji = '<span class="text-primary" style="font-weight:bold">' + yingshouheji + '</span>';
                        }
                        var yingfuheji = api.row(index).data().单据应付合计 || "";
                        if (yingfuheji) {
                            yingfuheji = ' - 应收合计：' + yingfuheji;
                            yingfuheji = '<span class="text-danger" style="font-weight:bold">' + yingfuheji + '</span>';
                        }
                        if ($.inArray(api.row(index).data().单号, ['ShouRu', "ZhiChu", "Settlement"]) == -1)
                            $(rows).eq(index).before('<tr class="group"><td colspan="20"><b>' + api.row(index).data().日期 + ' - ' + api.row(index).data().单号 + ' - ' + api.row(index).data().业务描述 + '</b>' + beizhu + yingshouheji + yingfuheji + '</td></tr>');
                        else
                            $(rows).eq(index).before('<tr class="group"><td colspan="20" class="text-danger"><b>' + api.row(index).data().单号 + ' - ' + api.row(index).data().业务描述 + '</b>' + beizhu + '</td></tr>');
                        last = value;
                    }
                });
                if (api.ajax.json()) {
                    var footer = '<div class="row" style="font-size:12px"><div class="col-xs-12 text-right">' + @footerHTML() + '</div></div>'
                    $('.panel-footer').html(footer);
                    $('#detailPanel .panel-heading .col-xs-7').html(footer)

                    //$(api.column(-1).footer()).html("fdasfdsafdasfda")
                    //alert(detailTable.table().footer())
                }

            },
            //footerCallback: function (tfoot, data, start, end, display) {
            //    var api = this.api();
            //    api
            //        .column('应收:name')
            //    .data()
            //    .reduce(function (a, b) {
            //        alert(b)
            //    },0)
            //},
        })


        $('.nav.navbar-nav.navbar-right .dropdown-menu').on('click', 'li', function () {
            $('#detailPanel').find('.panel-title').text(this.id + ' - ' + this.innerText);
            detailTable.settings()[0].ajax.data = { Id: this.id }
            detailTable.ajax.reload()
        })

        $('#detailPanel').css('margin-bottom', '10px').find('.panel-title').text('选择单位')
    </script>
}
