@model PHDS.Models.SalesModels.OrderDetialModel

<!-- popup/popover -->
<div class="popup" id="itemfill">
    <header class='bar bar-nav' style="background-color:#fff">

        <a href='#' class='button button-link button-nav pull-left close-popup'>
            <span class='icon icon-left'></span> 关闭
        </a>
        <button class="button button-link button-nav pull-right">
            列表
            <span class="icon icon-menu"></span>
        </button>
    </header>
    @{
        var ajaxOptions = new AjaxOptions
        {
            HttpMethod = "post",
            Confirm = "really?"
        };
    }
    <div class="content">
        @using (Ajax.BeginForm(ajaxOptions))
{
            <div id="index"></div>
            <div class="content-block-title color-primary">物料属性</div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">@Html.DisplayNameFor(m => m.Id) @Html.ValidationMessageFor(m => m.Id, "＊")</div>
                                <div class="item-input">
                                    @Html.TextBox(@Html.IdFor(m => m.Id).ToString(), "微信登记", new { @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">@Html.DisplayNameFor(m => m.描述) @Html.ValidationMessageFor(m => m.描述, "＊")</div>
                                <div class="item-input">
                                    <span>@Html.TextBoxFor(m => m.描述, new { placeholder = "输入名称" })</span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-gender"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">@Html.DisplayNameFor(m => m.规格) @Html.ValidationMessageFor(m => m.规格, "＊")</div>
                                <div class="item-input">
                                    @Html.DropDownListFor(m => m.规格, new List<SelectListItem>
                                    {
                                    new SelectListItem { Text = "450*450*15" },
                                    new SelectListItem { Text = "500*500*15" },
                                    new SelectListItem { Text = "600*600*15" },
                                    })
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">@Html.DisplayNameFor(m => m.PCS) @Html.ValidationMessageFor(m => m.PCS, "＊")</div>
                                <div class="item-input">
                                    @Html.TextBoxFor(m => m.PCS, new { placeholder = "输入片数" })
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">@Html.DisplayNameFor(m => m.单位数量) @Html.ValidationMessageFor(m => m.单位数量, "＊")</div>
                                <div class="item-input">
                                    @Html.TextBoxFor(m => m.单位数量, new { placeholder = "计算单位数量", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-gender"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">@Html.DisplayNameFor(m => m.计价单位) @Html.ValidationMessageFor(m => m.计价单位, "＊")</div>
                                <div class="item-input">
                                    @Html.DropDownListFor(m => m.规格, new List<SelectListItem>
                                    {
                                    new SelectListItem { Text = "平方米" },
                                    new SelectListItem { Text = "延长米" },
                                    new SelectListItem { Text = "片" },
                                    new SelectListItem { Text = "套" },
                                    })
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-gender"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">@Html.DisplayNameFor(m => m.单价) @Html.ValidationMessageFor(m => m.单价, "＊")</div>
                                <div class="item-input">
                                    @Html.TextBoxFor(m => m.PCS, new { placeholder = "输入单价" })
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-gender"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">@Html.DisplayNameFor(m => m.金额) @Html.ValidationMessageFor(m => m.金额, "＊")</div>
                                <div class="item-input">
                                    @Html.TextBoxFor(m => m.金额, new { placeholder = "计算金额", @readonly="readonly" })
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <div class="row">
                    <div class="col-50"><a href="#" class="button button-big button-fill button-danger close-popup">Cancel</a></div>
                    <div class="col-50"><a href="#" class="button button-big button-fill button-success" onclick="$(this).parents('form').eq(0).submit()">Submit</a></div>
                </div>
            </div>
}
    </div>
</div>
<script>
    $(function () {
        $("#form0").submit(function () {
            return $(this).validate().checkForm();
        })
    })
</script>