@model List<PHDS.Models.SalesModels.OrdersModel>

<div id="微信单据">
    <div class="list-block media-list">
        <ul>
            @{
                var c = 0;

                foreach (var item in Model.Where(m => m.OrderId.Substring(0, 2) == "wx").OrderByDescending(m => m.OrderId))
                {
                    <li class="item-link">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">№@(++c).</div>
                                    <div class="item-subtitle">@Html.DisplayTextFor(m => m[Model.IndexOf(item)].OrderId)</div>
                                </div>
                                <div class="item-title-row">
                                    <div class="item-subtitle">@Html.DisplayNameFor(m => m[Model.IndexOf(item)].CustomerId)</div>
                                    <div class="item-subtitle">@Html.DisplayTextFor(m => m[Model.IndexOf(item)].CustomerId)</div>
                                </div>
                                <div class="item-title-row">
                                    <div class="item-subtitle">@Html.DisplayNameFor(m => m[Model.IndexOf(item)].CustomerName)</div>
                                    <div class="item-subtitle">@Html.DisplayTextFor(m => m[Model.IndexOf(item)].CustomerName)</div>
                                </div>
                                <div class="item-title-row">
                                    <div class="item-subtitle">@Html.DisplayNameFor(m => m[Model.IndexOf(item)].CustomerAddress)</div>
                                    <div class="item-subtitle">@Html.DisplayTextFor(m => m[Model.IndexOf(item)].CustomerAddress)</div>
                                </div>
                                <div class="item-title-row">
                                    <div class="item-subtitle">@Html.DisplayNameFor(m => m[Model.IndexOf(item)].SaleDate)</div>
                                    <div class="item-subtitle">@Html.DisplayTextFor(m => m[Model.IndexOf(item)].SaleDate)</div>
                                </div>
                                <div class="item-title-row">
                                    <div class="item-subtitle">@Html.DisplayNameFor(m => m[Model.IndexOf(item)].SalesTypeId)</div>
                                    <div class="item-subtitle">@Html.DisplayTextFor(m => m[Model.IndexOf(item)].SalesTypeId)</div>
                                </div>
                                <div class="item-title-row">
                                    <div class="item-subtitle">@Html.DisplayNameFor(m => m[Model.IndexOf(item)].SalesTypeDescription)</div>
                                    <div class="item-subtitle">@Html.DisplayTextFor(m => m[Model.IndexOf(item)].SalesTypeDescription)</div>
                                </div>
                                <div class="item-title-row">
                                    <div class="item-subtitle">@Html.DisplayNameFor(m => m[Model.IndexOf(item)].RCID)</div>
                                    <div class="item-subtitle">@Html.DisplayTextFor(m => m[Model.IndexOf(item)].RCID)</div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
</div>

<script type="text/javascript">

    function actionsBuilder(obj) {
        var buttons1 = [{
            text: '查看',
            bold: true,
            color: 'primary',
            onClick: function () {

            }
        }, {
            text: '删除',
            bold: true,
            color: 'warning',
            onClick: function () {
                $.ajax({
                    url: "@Url.Action("Index")"
                })       
            }
        }
        ];
        var buttons2 = [{
            text: '取消',
            bg: 'danger'
        }
        ];
        var groups = [buttons1, buttons2];
        return groups;
    }
    $("#微信单据 ul").on('click', 'li', function (event) {
        $.actions(actionsBuilder(this))
    })
</script>
