@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@using PHDS.Identity.BLL
@{
    var UserManager = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>();
    var controllerName = @ViewContext.RouteData.Values["controller"].ToString();
    var actionName = @ViewContext.RouteData.Values["action"].ToString();
}

@functions{
    IHtmlString activeByControllerName(string targetController)
    {
        var controllerName = @ViewContext.RouteData.Values["controller"].ToString();
        if (controllerName.ToLower() == targetController.ToLower())
        {
            return Html.Raw("active");
        }
        return Html.Raw("");
    }
    IHtmlString activeByActionName(string targetAction, string targetController)
    {
        var actionName = @ViewContext.RouteData.Values["action"].ToString();
        var controllerName = @ViewContext.RouteData.Values["controller"].ToString();
        if (actionName.ToLower() == targetAction.ToLower() && controllerName.ToLower() == targetController.ToLower())
        {
            return Html.Raw("active");
        }
        return Html.Raw("");
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <meta name="viewport" content="width=1000px">
    <title>@ViewBag.Title - 应用管理系统</title>

    @Styles.Render("~/Content/bootstrap")

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <!-- AdminLTE -->
    <link rel="stylesheet" href="~/Content/AdminLTE/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Content/AdminLTE/dist/css/skins/skin-blue.min.css">

    <style>
        body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
            font-family: Microsoft YaHei,'宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
        }

        body {
            overflow-y: scroll;
        }
    </style>

    @RenderSection("styles", required: false)
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>PHM</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Pinhua</b>Master</span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @if (!Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("注册", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li>@Html.ActionLink("登录", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        }
                        else
                        {
                        <!-- User Account Menu -->
                            <li class="dropdown user user-menu">
                                <!-- Menu Toggle Button -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <!-- The user image in the navbar-->
                                    <img src="~/Content/AdminLTE/dist/img/avatar5.png" class="user-image" alt="User Image">
                                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                    <span class="hidden-xs">@User.Identity.Name</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- The user image in the menu -->
                                    <li class="user-header">
                                        <img src="~/Content/AdminLTE/dist/img/avatar5.png" class="img-circle" alt="User Image">

                                        <p>
                                            @User.Identity.Name
                                            <small><i class="fa fa-envelope"></i> @UserManager.FindById(User.Identity.GetUserId()).Email</small>
                                        </p>
                                    </li>
                                    <!-- Menu Body -->
                                    @*<li class="user-body">
                                            <div class="row">
                                                <div class="col-xs-4 text-center">
                                                    <a href="#">Followers</a>
                                                </div>
                                                <div class="col-xs-4 text-center">
                                                    <a href="#">Sales</a>
                                                </div>
                                                <div class="col-xs-4 text-center">
                                                    <a href="#">Friends</a>
                                                </div>
                                            </div>
                                        </li>*@
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="#" class="btn btn-info btn-flat">档案</a>
                                        </div>
                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="pull-right">
                                                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-info btn-flat">注销</a>
                                            </div>
                                        }
                                    </li>
                                </ul>
                            </li>
                        }
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                        <li>
                            <a href="javascript:setViewport();"><i class="fa fa-exchange"> @*<small>Viewport</small>*@</i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Content/AdminLTE/dist/img/avatar5.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <a href="javascript:;">
                            <i class="fa fa-comment"></i> @if (!Request.IsAuthenticated) { }
                            else
                            { @User.Identity.Name }
                        </a><p></p>
                        <!-- Status -->
                        <a href="javascript:;">
                            <i class="fa fa-envelope"></i>@if (!Request.IsAuthenticated) { }
                            else
                            { @UserManager.FindById(User.Identity.GetUserId()).Email }
                        </a>
                    </div>
                </div>

                <!-- search form (Optional) -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                    <li class="header">企业工作台</li>
                    <!-- Optionally, you can add icons to the links -->
                    <li class="treeview @activeByControllerName("Stockout")">
                        <a href="#">
                            <i class="fa fa-th"></i> <span>进销存系统</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@activeByActionName("Index", "Stockout")"><a href="@Url.Action("Index", "Stockout")"><i class="fa fa-circle-o"></i> <span> 发货单</span></a></li>
                            <li class="@activeByActionName("Report", "Stockout")"><a href="@Url.Action("Report", "Stockout")"><i class="fa fa-circle-o"></i> <span> 图表</span></a></li>
                            <li><a href="@Url.Action("Shouhuo", "Home")"><i class="fa fa-circle-o"></i> <span> 收货单</span></a></li>
                            <li><a href="@Url.Action("Zaitu", "Home")"><i class="fa fa-circle-o"></i> <span> 在途物料</span></a></li>
                            <li><a href="@Url.Action("Wanglai", "Home")"><i class="fa fa-circle-o"></i> <span> 往来</span></a></li>
                            <li><a href="@Url.Action("Index", "Material")"><i class="fa fa-circle-o"></i> <span> 物料</span></a></li>
                        </ul>
                    </li>
                    <li class="treeview @activeByControllerName("Caiwu")">
                        @Html.Partial("工作台导航/财务模块")
                    </li>
                    <li class="treeview @activeByControllerName("Kaoqin")">
                        @Html.Partial("工作台导航/考勤模块")
                    </li>
                    <li class="header">LABELS</li>
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("管理员"))
                        {
                            <li><a href="@Url.Action("Index", "Home", new { area = "SuperAdmin" })"><i class="fa fa-circle-o text-red"></i> <span>超级管理员</span></a></li>
                        }
                    }
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="min-height:1280px">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    @controllerName
                    <small>@actionName</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> @controllerName</a></li>
                    <li class="active">@actionName</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">

                <!-- Your Page Content Here -->

                @RenderBody()

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                @*拼花大师，超乎你想象！*@
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane active" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript::;">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript::;">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="pull-right-container">
                                        <span class="label label-danger pull-right">70%</span>
                                    </span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- Vue -->
    @Scripts.Render("~/bundles/vue")

    <!-- AdminLTE -->
    <script src="~/Content/AdminLTE/dist/js/app.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/chartjs/Chart.min.js"></script>

    @RenderSection("scripts", required: false)
    <script>
        function setViewport() {
            var viewport = document.querySelector("meta[name=viewport]");
            var content1 = "width=device-width, initial-scale=1.0";
            var content2 = "width=1000px";
            if (viewport.getAttribute('content') == content1)
                viewport.setAttribute('content', content2);
            else if (viewport.getAttribute('content') == content2)
                viewport.setAttribute('content', content1);
        }
    </script>
</body>
</html>
