@model PHDS.Web.Models.StockoutModels.ItemModel

<ul>
    <li>@Html.TextBoxFor(x => x.编号)</li>
    <li>@Html.TextBoxFor(x => x.描述)</li>
    <li>@Html.TextBoxFor(x => x.规格)</li>
    <li>@Html.TextBoxFor(x => x.个数)</li>
    <li>@Html.TextBoxFor(x => x.数量)</li>
    <li>@Html.TextBoxFor(x => x.单位)</li>
    <li>@Html.TextBoxFor(x => x.单价)</li>
    <li>@Html.TextBoxFor(x => x.金额)</li>
</ul>
