@model PHDS.Entities.Edmx.物料登记
@{
    var pinhua = new PHDS.Entities.Edmx.PinhuaEntities();
    var newitemJson = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented));
    var itemtypes = pinhua.物料分类.AsNoTracking();
    var itemtypesJson = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(itemtypes, Newtonsoft.Json.Formatting.Indented));
    var itemgroup = itemtypes.Where(x => x.级数 == 1).OrderBy(x => x.排序); ;
    var itemgroupJson = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(itemgroup, Newtonsoft.Json.Formatting.Indented));
}
<div class="row">
    <div class="col-sm-2">
        @Html.Partial("WuliaoNavi")
    </div>
    <div class="col-sm-10" style="font-size:12px;">
        @using (Html.BeginForm("WuliaoEdit", "BasicSetting", FormMethod.Post, new { id = "myForm" }))
        {
            <div class="box box-danger" id="formBox" v-cloak>
                <div class="box-header with-border">
                    <h3 class="box-title">物料编辑</h3>
                    <div class="box-tools pull-right">
                        <!-- Buttons, labels, and many other things can be placed here! -->

                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label for="编号">编号</label>
                        <div class="input-group">
                            <input type="text" class="form-control" @Html.Vue2().vModelFor(x => x.编号) v-bind:readonly="!isTrackingNoEditable">
                            <div class="input-group-addon">
                                <input type="checkbox" style="display: inline-block;margin-bottom: 2px; vertical-align:middle" v-bind:checked="isTrackingNoEditable" v-on:click="isTrackingNoEditable=!isTrackingNoEditable">
                                <a href="javascript:;" v-on:click="isTrackingNoEditable=!isTrackingNoEditable"> 允许编辑</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="分类编号">分类</label>
                        <select class="form-control" @Html.Vue2().vModelFor(x => x.分类编号) v-on:change="fn类型()">
                            <optgroup v-for="groupitem in 物料顶级分类" v-bind:label="groupitem.全称">
                                <option v-for="item in innerTypes(groupitem.完整编码)" v-bind:value="item.完整编码">{{item.完整编码}} - {{item.全称}}</option>
                            </optgroup>
                        </select>
                        <input class="form-control" type="hidden" @Html.Vue2().vModelFor(x => x.类型) readonly />
                    </div>
                    <div class="form-group">
                        <label for="描述">描述</label>
                        <input type="text" class="form-control" @Html.Vue2().vModelFor(x => x.描述) placeholder="输入描述...">
                    </div>
                    <div class="form-group">
                        <label for="规格">规格</label>
                        <div class="input-group">
                            <input type="text" class="form-control" @Html.Vue2().vModelFor(x => x.规格) placeholder="输入规格..." v-bind:readonly="isReadOnly" v-bind:value="fn规格()">
                            <div class="input-group-addon">
                                <input type="checkbox" style="display: inline-block;margin-bottom: 2px; vertical-align:middle" v-bind:checked="!isReadOnly" v-on:click="isReadOnly=!isReadOnly">
                                <a href="javascript:;" v-on:click="isReadOnly=!isReadOnly"> 手动编辑</a>
                            </div>
                        </div>
                    </div>
                    <section class="row">
                        <article class="col-sm-4">
                            <div class="form-group">
                                <label for="Length">长</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" @Html.Vue2().vModelFor(x => x.Length) placeholder="输入长...">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1"> <span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li v-on:click="fnLengthClick"><a href="javascript:;">450</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li v-on:click="fnLengthClick"><a href="javascript:;">300</a></li>
                                            <li v-on:click="fnLengthClick"><a href="javascript:;">500</a></li>
                                            <li v-on:click="fnLengthClick"><a href="javascript:;">600</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Width">宽</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" @Html.Vue2().vModelFor(x => x.Width) placeholder="输入宽...">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1"> <span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li v-on:click="fnWidthClick"><a href="javascript:;">450</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li v-on:click="fnWidthClick"><a href="javascript:;">300</a></li>
                                            <li v-on:click="fnWidthClick"><a href="javascript:;">500</a></li>
                                            <li v-on:click="fnWidthClick"><a href="javascript:;">600</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Height">高</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" @Html.Vue2().vModelFor(x => x.Height) placeholder="输入高...">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1"> <span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li v-on:click="fnHeightClick"><a href="javascript:;">15</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li v-on:click="fnHeightClick"><a href="javascript:;">12</a></li>
                                            <li v-on:click="fnHeightClick"><a href="javascript:;">18</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </section>
                </div>
                <div class="box-footer">
                    <div class="row no-print">
                        <div class="col-xs-12">
                            <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> 打印</a>
                            <a href="javascript:$('#myForm').submit()" class="btn btn-primary pull-right">
                                <i class="fa fa-check"></i> 确认提交
                            </a>
                            <a href="@Url.Action("Wuliao")" class="btn btn-danger pull-right" style="margin-right: 5px;">
                                <i class="fa fa-reply"></i> 取消
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section scripts{
    <script>
        var vm = new Vue({
            el: '#formBox',
            data: {
                @Html.Vue2().modelName: @newitemJson,
                物料顶级分类: @itemgroupJson,
                物料所有分类: @itemtypesJson,
                isReadOnly: false,
                isTrackingNoEditable: false,
            },
            computed: {

            },
            methods: {
                innerTypes:function(key){
                    var array = $.grep(this.物料所有分类, function(item){
                        return item.完整编码 != key && item.完整编码.indexOf(key) >= 0
                    })
                    return array
                },
                fn类型: function(){
                    var array = this.物料所有分类.filter(function(member){
                        return member.完整编码 == this.mvcModel.分类编号
                    },this)
                    @Html.Vue2().modelDataFor(x=>x.类型) = array.length>0 ? array[0].全称 :  ""
                },
                fn规格: function(){
                    var length = @Html.Vue2().modelDataFor(x => x.Length);
                    var width = @Html.Vue2().modelDataFor(x => x.Width);
                    var height = @Html.Vue2().modelDataFor(x => x.Height);
                    if(this.isReadOnly){
                        if(length && width && height){
                            @Html.Vue2().modelDataFor(x=>x.规格) = [length,"*",width,"*",height].join("")
                        }
                        else
                            @Html.Vue2().modelDataFor(x=>x.规格) = ""
                    }
                },
                fn长宽高按钮单机: function(event){
                    console.log(event.target)
                },
                fnLengthClick: function (event) {
                    // `event` 是原生 DOM 事件
                    @Html.Vue2().modelDataFor(x=>x.Length) = event.target.innerText;
                },
                fnWidthClick: function (event) {
                    // `event` 是原生 DOM 事件
                    @Html.Vue2().modelDataFor(x=>x.Width) = event.target.innerText;
                },
                fnHeightClick: function (event) {
                    // `event` 是原生 DOM 事件
                    @Html.Vue2().modelDataFor(x=>x.Height) = event.target.innerText;
                }
            },
        })
    </script>
}