@{
    var pinhua = new PHDS.Entities.Edmx.PinhuaEntities();
    var wuliao = from p in pinhua.物料登记.AsNoTracking() orderby p.ExcelServerRCID descending select p;
    var jsonString = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(wuliao));
}

@section styles{
    @Styles.Render("~/Content/DataTables/css/datatables")
    <style>
        table th, table td {
            white-space: nowrap;
        }
    </style>
}

<div class="row">
    <section class="col-sm-2">
        @Html.Partial("WuliaoNavi")
    </section>
    <section class="col-sm-10" style="font-size:12px;">
        <div class="box box-danger">
            <div class="box-header with-border"><h3 class="box-title"> 物料清单</h3></div>
            <div class="box-body">
                @*<div class="mailbox-controls no-padding">
                    <a href="@Url.Action("WuliaoAdd")" class="btn btn-default btn-sm"><i class="fa fa-plus"></i><span> 新增物料</span></a>
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i><span> 刷新</span></button>
                </div>*@
                <div class="table-responsive no-border">
                    <table class="table table-bordered table-striped" id="myTable"></table>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("WuliaoDelete", "BasicSetting", FormMethod.Post, new { id = "del_form" }))
        {
            <input type="hidden" id="del_rcid" name="rcId" />
        }
    </section>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/DataTables/datatables")

    <script>
        $(document).ready(function () {
            $.extend(true, $.fn.DataTable.defaults ,CONSTANT.DATA_TABLES.DEFAULT_OPTION);

            var myTable = $('#myTable').DataTable({
                data:@jsonString,
                pageLength:20,
                pagingType: 'numbers',
                columns:[
                    { title:"功能", width:1, render:function (data, type, row, meta){return '<a href="@Url.Action("WuliaoEdit")?trackingNo='+row.编号+'">编辑</a> | <a href=\'javascript:delMethod("'+row.ExcelServerRCID+'")\'>删除</a></form>'}},
                    { data: "编号", title:"编号", className: "",},
                    { data: "描述", title:"描述", className: "",},
                    { data: "类型", title:"类型", className: "",},
                    { data: "规格", title:"规格", className: "",},
                    { data: "木种", title:"木种", className: "",},
                    { data: "工艺", title:"工艺", className: "",},
                    //{ data: "备注", title:"备注", className: "",},
                ]

            })
        })

        function delMethod(rcid){
            if(confirm('确定删除这条物料记录吗？')){
                $('#del_rcid').val(rcid);
                $('#del_form').submit();
            }
        }
    </script>
}
