@{
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var actionName = ViewContext.RouteData.Values["action"].ToString();

    int[] ranks = { 100, 90, 60, 30, 0 };

    var pinhua = new PHDS.Entities.Edmx.PinhuaEntities();
    var partners = from p in pinhua.往来单位
                   orderby p.RANK descending
                   select new
                   {
                       Rank = p.RANK ?? 0,
                       Id = p.单位编号,
                       Name = p.单位名称
                   };
}

<a href="#">
    <i class="fa fa-bar-chart"></i> <span>账务系统</span>
    <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
    </span>
</a>
<ul class="treeview-menu">
    <li>
        <a href="@Url.Action("Yingshou", "Home")"><i class="fa fa-circle-o"></i> <span> 应收</span></a>
    </li>
    <li><a href="@Url.Action("Yingfu", "Home")"><i class="fa fa-circle-o"></i> <span> 应付</span></a></li>
    <li>
        <a href="javascript:;"><i class="fa fa-circle-o"></i> <span> 应收应付</span></a>
        <ul class="treeview-menu">
            <li>
                <a href="javascript:;">
                    <span>高（@ranks[0] - @ranks[1]）</span><span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @foreach (var menu in partners)
                    {
                        if (ranks[0] >= menu.Rank && menu.Rank >= ranks[1])
                        {
                            <li><a href="@Url.Action("YingshouYingfu", "Home", new { partnerId = @menu.Id})">@menu.Rank - @menu.Name</a></li>
                        }
                    }
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    中（@ranks[1] - @ranks[2]）<span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @foreach (var menu in partners)
                    {
                        if (ranks[1] >= menu.Rank && menu.Rank >= ranks[2])
                        {
                            <li><a href="@Url.Action("YingshouYingfu", "Home", new { partnerId = @menu.Id})">@menu.Rank - @menu.Name</a></li>
                        }
                    }
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    低（@ranks[2] - @ranks[3]）<span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @foreach (var menu in partners)
                    {
                        if (ranks[2] >= menu.Rank && menu.Rank >= ranks[3])
                        {
                            <li><a href="@Url.Action("YingshouYingfu", "Home", new { partnerId = @menu.Id})">@menu.Rank - @menu.Name</a></li>
                        }
                    }
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    其他（@ranks[3] - @ranks[4]）<span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @foreach (var menu in partners)
                    {
                        if (ranks[3] >= menu.Rank && menu.Rank >= ranks[4])
                        {
                            <li><a href="@Url.Action("YingshouYingfu", "Home", new { partnerId = @menu.Id})">@menu.Rank - @menu.Name</a></li>
                        }
                    }
                </ul>
            </li>
        </ul>
    </li>
</ul>