@using PHDS.Web.Controllers
@{
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var actionName = ViewContext.RouteData.Values["action"].ToString();

    int[] ranks = { 120, 90, 60, 30, 0 };

    var rankList = new List<CaiwuController.RanksModel> {
        new CaiwuController.RanksModel { RankStart=ranks[0],RankEnd=ranks[1],Title="高"},
        new CaiwuController.RanksModel { RankStart=ranks[1],RankEnd=ranks[2],Title="中"},
        new CaiwuController.RanksModel { RankStart=ranks[2],RankEnd=ranks[3],Title="低"},
        new CaiwuController.RanksModel { RankStart=ranks[3],RankEnd=ranks[4],Title="其他"},
    };

    var pinhua = new PHDS.Entities.Edmx.PinhuaEntities();
    var partners = from p in pinhua.往来单位
                   orderby p.RANK descending
                   select new
                   {
                       Rank = p.RANK ?? 0,
                       Id = p.单位编号,
                       Name = p.单位名称
                   };
}

<a href="#">
    <i class="fa fa-bar-chart"></i> <span>账务系统</span>
    <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
    </span>
</a>
<ul class="treeview-menu">
    <li><a href="@Url.Action("Shoukuan", "Caiwu")"><i class="fa fa-money"></i><span> 收款</span></a></li>
    <li><a href="@Url.Action("Fukuan", "Caiwu")"><i class="fa fa-money"></i><span> 付款</span></a></li>
    <li class="@if (controllerName=="Caiwu" && actionName=="ChaZhang" ) { @Html.Raw("active") } ">
        <a href="javascript:;">
            <i class="fa fa-money"></i> <span> 查账</span><span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            @foreach (var one in rankList)
            {
                <li class="@if (one.RankStart > int.Parse(Request["rank"]??"-1") && int.Parse(Request["rank"]??"-1")>= one.RankEnd) { @Html.Raw("active")} ">
                    <a href="javascript:;">
                        <i class="fa fa-star"></i>
                        <span>@one.Title（@one.RankStart - @one.RankEnd）</span><span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        @foreach (var menu in partners)
                        {
                            if (one.RankStart > menu.Rank && menu.Rank >= one.RankEnd)
                            {
                                <li class="@if (menu.Id == Request["partnerId"]) { @Html.Raw("active")} ">
                                    <a href="@Url.Action("ChaZhang", "Caiwu" , new {rank=menu.Rank, partnerId=menu.Id})">
                                        <i class="fa fa-circle-o"></i> @menu.Name
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </li>
            }
        </ul>
    </li>
</ul>