@model PHDS.Entities.Edmx.收款单
@{
    var pinhua = new PHDS.Entities.Edmx.PinhuaEntities();
    var partners = from p in pinhua.往来单位
                   orderby p.RANK descending
                   select p;

    var selectGroups = from p in partners
                       group p by p.RANK into g
                       orderby g.Key descending
                       select g.Key;

    var jsonString = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, new Newtonsoft.Json.Converters.IsoDateTimeConverter { DateTimeFormat = "yyyy-MM-dd" }));
}
<div class="row">
    <div class="col-sm-3">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">合作伙伴</h3>

                <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body no-padding" style="height:100%;overflow-y:auto">
                <ul class="nav nav-pills nav-stacked">
                    @foreach (var one in partners)
                    {
                        <li><a><i class="fa fa-user"></i> @one.单位名称</a></li>
                    }
                </ul>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-sm-6">
        @using (Html.BeginForm("ShoukuanEdit", "Caiwu", FormMethod.Post, new { id = "EditForm" }))
        {
            <div class="box box-solid" id="formBox">
                <div class="box-header with-border">
                    <h3 class="box-title">收款修改</h3>
                    <div class="box-tools pull-right">
                        <!-- Buttons, labels, and many other things can be placed here! -->

                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label for="单位编号">收款单位</label>
                        <select class="form-control" id="单位编号" name="@Html.NameFor(x => x.单位编号)">

                            @foreach (var key in selectGroups)
                            {
                                <optgroup label="Rank: @key">
                                    @foreach (var partner in partners)
                                    {
                                        if (partner.RANK == key)
                                        {
                                            <option value="@partner.单位编号" @if (Model.单位编号 == partner.单位编号) { @Html.Raw("selected")}>
                                                @partner.单位编号 - @partner.单位名称
                                            </option>
                                        }
                                    }
                                </optgroup>
                            }

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="收款类型">收款类型</label>
                        <select class="form-control" id="收款类型" name="@Html.NameFor(x => x.收款类型)">
                            <option>银行</option>
                            <option>现金</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="收款日期">日期</label>
                        <input type="date" class="form-control" id="收款日期" name="@Html.NameFor(x => x.收款日期)" placeholder="Date" value="@Model.收款日期.Value.ToString("yyyy-MM-dd")">
                    </div>
                    <div class="form-group">
                        <label for="收款金额">收款金额</label>
                        <input type="number" class="form-control" id="收款金额" name="@Html.NameFor(x => x.收款金额)" placeholder="输入金额..." value="@Model.收款金额.Value.ToString("0.#")">
                    </div>
                    <div class="form-group">
                        <label for="备注">备注</label>
                        <input type="text" class="form-control" id="备注" name="@Html.NameFor(x => x.备注)" placeholder="输入备注..." value="@Model.备注">
                    </div>
                    @Html.HiddenFor(x => x.ExcelServerRCID)
                </div>
                    <div class="box-footer">
                        <div class="row no-print">
                            <div class="col-xs-12">
                                <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> 打印</a>
                                <button type="submit" class="btn btn-warning pull-right">
                                    <i class="fa fa-check"></i> 确认修改
                                </button>
                                <a href="@Url.Action("Shoukuan")" class="btn btn-danger pull-right" style="margin-right: 5px;">
                                    <i class="fa fa-reply"></i> 取消
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        }
    </div>
</div>


@section scripts{
    <script>
        var vm = new Vue({
            el: '#formBox',
            data: {
                order : @jsonString,
            },
            computed: {
                visible: function () {
                    return this.todos.length > 0
                }
            },
            methods: {

            }
        })

        $(document).ready(function(){
            $('#EditForm').submit(function(){
                if(confirm('确认提交修改吗？'))
                    return true;
                else
                    return false;
            })
        })
    </script>
}