<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <meta name="viewport" content="width=992px">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")

    <style>
        body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
            font-family: Microsoft YaHei,'宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
        }
    </style>

    @RenderSection("styles", required: false)
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("拼花大师™地板", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("返回前台", "Index", "Home", new { area = "" }, null)</li>
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">后台管理 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">权限</li>
                            <li>@Html.ActionLink("Users", "Users", "RolesManage")</li>
                            <li>@Html.ActionLink("Roles", "Roles", "RolesManage")</li>
                            <li class="dropdown-header">注册</li>
                            <li>@Html.ActionLink("管理员", "RegisterGuanLiYuan", "Account")</li>
                            <li>@Html.ActionLink("对账员", "RegisterDuiZhangYuan", "Account")</li>
                            <li class="dropdown-header">PermissionsAdmin</li>
                            <li>@Html.ActionLink("Index", "Index", "PermissionsAdmin", new { Area = "SuperAdmin" }, null)</li>
                            <li class="dropdown-header">RolePermissions</li>
                            <li>@Html.RouteLink("Index", "SuperAdmin_default", new { controller = "RolePermissions", Action = "Index" })</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 拼花大师地板</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
