@using PHDS.Identity.BLL
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@model PHDS.Identity.DAL.ApplicationUser
@{
    ViewBag.Title = "编辑";
    var UserManager = HttpContext.Current.GetOwinContext().Get<ApplicationUserManager>();
    var Affiliations = (UserManager.FindByName(Model.UserName).Affiliation ?? string.Empty).Split(',');

    List<PHDS.Entities.Edmx.往来单位> Units = new List<PHDS.Entities.Edmx.往来单位>();
    using (var db = new PHDS.Entities.Edmx.PinhuaEntities())
    {
        var result = from p in db.往来单位
                     orderby p.RANK descending, p.单位编号 ascending
                     select p;
        Units = result.ToList();
    }
}

<h2>@ViewBag.Title。</h2>

@using (Html.BeginForm("EditAffiliation", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>创建新帐户。</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="panel panel-primary">
                <div class="panel-heading">User Based</div>
                <table class="table table-striped">
                    <tr><th>单位ID</th><th>单位名称</th><th>选择</th></tr>
                    @foreach(var item in Units)
                    {
                        <tr>
                            <td>@item.单位编号</td>
                            <td>@item.单位名称</td>
                            <td><input type="checkbox" name="Affiliations" value="@item.单位编号" checked="@(Affiliations.Contains(item.单位编号)?true:false)" /></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="注册" />
            </div>
        </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
