@using PHDS.Web.Models
@model LoginViewModel
@{
    Layout = null;

    ViewBag.Title = "登录";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    @*
        <meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <meta name="viewport" content="width=992px">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>

    @Styles.Render("~/Content/bootstrap")

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <!-- AdminLTE -->
    <link rel="stylesheet" href="~/Content/AdminLTE/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Content/AdminLTE/dist/css/skins/skin-blue.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/iCheck/square/blue.css">
    <style>
        body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
            font-family: Microsoft YaHei,'宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
        }
    </style>

    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Pinhua</b>Master</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "用户名或邮箱" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "密码" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                @Html.CheckBoxFor(m => m.RememberMe) Remember Me?
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">登　陆</button>
                    </div>
                    <!-- /.col -->
                </div>

            }
            <div class="social-auth-links text-center">
                <p>- 其他 -</p>
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                    <i class="fa fa-facebook"></i> Sign in using
                    Facebook
                </a>
                <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                    <i class="fa fa-google-plus"></i> Sign in using
                    Google+
                </a>
            </div>
            <!-- /.social-auth-links -->
            @*<a href="#">I forgot my password</a><br>*@
            <div class="row">
                <div class="col-xs-12">
                    @Html.ActionLink("注册为新用户", "Register", null, new { @class = "btn bg-navy btn-block btn-flat btn-sm text-center pull-right" })
                </div>
            </div>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery 2.2.3 -->
    @Scripts.Render("~/bundles/jquery")
    <!-- Bootstrap 3.3.6 -->
    @Scripts.Render("~/bundles/bootstrap")
    <!-- iCheck -->
    <script src="~/Content/AdminLTE/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
</body>
</html>
@*<div class="row">
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>*@

@Scripts.Render("~/bundles/jqueryval")
